section {
  background-color: #fff7e6;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
}

h3 {
  font-size: 1.8rem;
  font-family: "Quicksand", sans-serif;
  color: #ff6f61;
  text-align: center;
  margin-bottom: 20px;
}

input {
  width: 80%;
  padding: 10px;
  border: 2px solid #ff6f61;
  border-radius: 8px;
  font-size: 1rem;
  margin-right: 10px;
  outline: none;
  transition: border-color 0.3s ease;

  &:focus {
    border-color: #ff3b30;
  }
}

button {
  padding: 10px 20px;
  background-color: #ff6f61;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #ff3b30;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

li {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  margin-bottom: 12px;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 15px;
    transition: transform 0.3s ease;

    &:hover {
      transform: rotate(360deg);
    }
  }

  span {
    font-size: 1.2rem;
    color: #333;
    font-family: "Poppins", sans-serif;
  }
}
